services:
  client1:
    image: jcorcuera/fedxai_lib
    container_name: client1
    network_mode: host
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client1@172.16.6.42  # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.16.2.185  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9001 inet_dist_listen_max 9001
    ports:
      - "9001:9001"
    volumes:
      - ./datasets_splits/WeatherIzimir/client_X_train_1.csv:/dataset/X_train.csv
      - ./datasets_splits/WeatherIzimir/client_y_train_1.csv:/dataset/y_train.csv
      - ./datasets_splits/WeatherIzimir/client_X_test_1.csv:/dataset/X_test.csv
      - ./datasets_splits/WeatherIzimir/client_y_test_1.csv:/dataset/y_test.csv
      - /models:/models

  client2:
    image: jcorcuera/fedxai_lib
    container_name: client2
    network_mode: host
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client2@172.16.6.42  # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.16.2.185  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9002 inet_dist_listen_max 9002
    ports:
      - "9002:9002"
    volumes:
      - ./datasets_splits/WeatherIzimir/client_X_train_2.csv:/dataset/X_train.csv
      - ./datasets_splits/WeatherIzimir/client_y_train_2.csv:/dataset/y_train.csv
      - ./datasets_splits/WeatherIzimir/client_X_test_2.csv:/dataset/X_test.csv
      - ./datasets_splits/WeatherIzimir/client_y_test_2.csv:/dataset/y_test.csv
      - /models:/models

  client3:
    image: jcorcuera/fedxai_lib
    container_name: client3
    network_mode: host
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client3@172.16.6.42  # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.16.2.185  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9003 inet_dist_listen_max 9003
    ports:
      - "9003:9003"
    volumes:
      - ./datasets_splits/WeatherIzimir/client_X_train_3.csv:/dataset/X_train.csv
      - ./datasets_splits/WeatherIzimir/client_y_train_3.csv:/dataset/y_train.csv
      - ./datasets_splits/WeatherIzimir/client_X_test_3.csv:/dataset/X_test.csv
      - ./datasets_splits/WeatherIzimir/client_y_test_3.csv:/dataset/y_test.csv
      - /models:/models

  client4:
    image: jcorcuera/fedxai_lib
    container_name: client4
    network_mode: host
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client4@172.16.6.42  # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.16.2.185  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9004 inet_dist_listen_max 9004
    ports:
      - "9004:9004"
    volumes:
      - ./datasets_splits/WeatherIzimir/client_X_train_4.csv:/dataset/X_train.csv
      - ./datasets_splits/WeatherIzimir/client_y_train_4.csv:/dataset/y_train.csv
      - ./datasets_splits/WeatherIzimir/client_X_test_4.csv:/dataset/X_test.csv
      - ./datasets_splits/WeatherIzimir/client_y_test_4.csv:/dataset/y_test.csv
      - /models:/models
