services:
  client1:
    image: jcorcuera/fedxai_frbc
    container_name: client1
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client1@172.20.0.3 # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.20.0.2  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9001 inet_dist_listen_max 9001
    ports:
      - "9001:9001"
    volumes:
      - ./datasets/RMI_demo/preprocessed/split_train_0.csv:/dataset/X_train.csv
      - ./models:/models
    networks:
      fedlang_net:
        ipv4_address: 172.20.0.3
  client2:
    image: jcorcuera/fedxai_frbc
    container_name: client2
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client2@172.20.0.4 # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.20.0.2  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9002 inet_dist_listen_max 9002
    ports:
      - "9002:9002"
    volumes:
      - ./datasets/RMI_demo/preprocessed/split_train_1.csv:/dataset/X_train.csv
      - ./models:/models
    networks:
      fedlang_net:
        ipv4_address: 172.20.0.4
  client3:
    image: jcorcuera/fedxai_frbc
    container_name: client3
    environment:
      - FEDLANG_NODE_TYPE=client
      - FEDLANG_NODE_NAME=client3@172.20.0.5 # Host IP
      - FEDLANG_COOKIE=050df51e-1c75-433e-95c3-8e3e1926d6a6
      - FEDLANG_DIRECTOR_NAME=director@172.20.0.2  # Director's external IP
      - ERL_FLAGS=-kernel inet_dist_listen_min 9003 inet_dist_listen_max 9003
    ports:
      - "9003:9003"
    volumes:
      - ./datasets/RMI_demo/preprocessed/split_train_2.csv:/dataset/X_train.csv
      - ./models:/models
    networks:
      fedlang_net:
        ipv4_address: 172.20.0.5

networks:
  fedlang_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24